{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}
<br>   
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container">
            
            <div class="section-header">
              <h2>Directores</h2>
              <p>What they are saying</p>
            </div>
            
            <div class="slides-3 swiper">
              <div class="swiper-wrapper">
                {% for director in directores %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                    <div class="profile mt">
                      <img src="{{ director.imagen.url }}" class="testimonial-img" alt="">
                      <a href="{% url 'directores_detalle' director.slug %}">{{ director.nombre }} {{ director.apellido }}</a>
                    </div>
                    <p>
                      "{{director.citas}}"
                    </p>
                    
                  </div>
                </div><!-- End testimonial item -->
                {% endfor %}
    
               
        </section><!-- End Testimonials Section -->
        <br>
        <br>
        <br> 
        <br>
        <br>
        <br> 
      

{% endblock %}
