{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}
<br>   
       
        <section id="testimonials" class="testimonials">
          <div class="container">
            
            <div class="section-header">
              <h2>Directores</h2>
              <hr class="d-none d-md-block">
              <p></p>
            </div>
            <div class="slides-3 swiper">
              <div class="swiper-wrapper">
                {% for director in directores %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="stars">
                      <i class="bi bi-lightning"></i><i class="bi bi-lightning"></i><i class="bi bi-lightning"></i><i class="bi bi-lightning"></i><i class="bi bi-lightning"></i>
                    </div>
                    <div class="profile mt">
                      <img src="{{ director.imagen.url }}" class="testimonial-img" alt="">
                      <a href="{% url 'directores_detalle' director.slug %}">{{ director.nombre }} {{ director.apellido }}</a>
                    </div>
                    <p>
                      "{{director.citas}}"
                    </p>
                  </div>
                </div>
                {% endfor %}             
        </section>
        <br>
        <br>
        <br> 
        <br> 
        
        
      

{% endblock %}
