{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}

        <div class="page-header d-flex align-items-center">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <br>
                <h2 style="color: #fd7e14;" >{{directores.nombre}} {{directores.apellido}}</h2>
                <p><i>"{{directores.citas}}"</i></p>
                <hr class="d-none d-md-block">
              </div>
            </div>
          </div>
        </div>
    <br>
        <section id="about" class="about">
          <div class="container">
    
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-4">
                <img src="{{ directores.imagen.url }}"href="" class="img-fluid" alt="">
                <div class="section-header">
                    <h3>Filmografia en Nerdflix</h3>
                    {% for pelicula in peliculas %}
        
                    <div class="col-xl-8 ">
                    <div class="gallery-item h-100">
                        <h2><button class=" btn btn-outline-primary"> <a href="{% url 'peliculas_detalle' pelicula.slug %}">{{ pelicula.titulo }}</a></h2></button>
                        <div class="text-muted fst-italic mb-2"> {{ pelicula.fecha_creacion}} por {{ pelicula.autor_reseña}}</div> 
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                  </div>
              </div>
              <div class="col-lg-5 content">
                <p class="m-0">
                    {{ directores.biografia }}
                </p>
              </div>
            </div>
    
          </div>
        </section>
    <br>
    <br>
    <br>
{% endblock %}
