{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
 

        <!-- ======= End Page Header ======= -->
        <div class="page-header d-flex align-items-center">
          <div class="container position-relative">
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 text-center">
                <br>
                <h2>{{directores.nombre}} {{directores.apellido}}</h2>
                <p><i>"{{directores.citas}}"</i></p>
              </div>
            </div>
          </div>
        </div><!-- End Page Header -->
    <br>
    <br>
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container">
    
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-4">
                <img src="{{ directores.imagen.url }}"href="" class="img-fluid" alt="">
                <div class="section-header">
                    <h2>Filmografia</h2>
                    <p>What they are saying</p>
                  </div>
              </div>
              <div class="col-lg-5 content">
                <div class="row">
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 May 1995</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                    </ul>
                  </div>
                </div>
                <p class="m-0">
                    {{ directores.biografia }}
                </p>
              </div>
            </div>
    
          </div>
        </section><!-- End About Section -->
    <br>
    <br>
    <br>
{% endblock %}
