{% extends "Base.html" %}

{% load static %}
{% load embed_video_tags %}


{% block contenidoQueCambia %}
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post content-->
                    {% for pelicula in peliculas %}
                    {% if pelicula.destacada == True %}
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <nav class="blog-pagination " aria-label="Pagination">
                            <a class="btn btn-outline-primary rounded-pill"><h4>Destacada de la semana</h4></a>
                           </nav>
                            <br>
                            <br>
                            <h1><a class="fw-bolder mb-1" href="{% url 'peliculas_detalle' pelicula.slug %}">{{ pelicula.titulo }}</a></h1>
                            <!-- Post meta content-->
                  
                            <div class="text-muted fst-italic mb-2"> {{ pelicula.fecha_creacion}} reseña por <a class="list-unstyled" href="{% url 'usuarios_detalle' pelicula.autor_reseña.id  %}">{{ pelicula.autor_reseña}}</a></div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'directores_detalle' pelicula.director.slug %}">{{ pelicula.director}} </a> 
                            <a class="badge bg-secondary text-decoration-none link-light">{{ pelicula.año}}</a>
                            
                    </article>
                    {% endif %}
                    {% endfor %}
                    <div class="col-lg-8">
                        {% for pelicula in peliculas %}
                        {% if pelicula.destacada == True %}
                        <!-- Side widget-->
                        <div class="card-body">{% video pelicula.video_link 'large'  %}</div>
                        {% endif %}
                        {% endfor %}
                     </div>
                    <br>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                                <!-- Comment with nested comments-->
                                <div class="d-flex mb-4">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.
                                        <!-- Child comment 1-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                            </div>
                                        </div>
                                        <!-- Child comment 2-->
                                        <div class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                            <div class="ms-3">
                                                <div class="fw-bold">Commenter Name</div>
                                                When you put money directly to a problem, it makes a good headline.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single comment-->
                                <div class="d-flex">
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">Commenter Name</div>
                                        When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>                   
            </div>
         </div>
       
      
{% endblock %} 