{% extends "Base.html" %}

{% load crispy_forms_tags %}

{% block contenidoQueCambia %}
<br>
<br>
<br>
  <br>
  <br>
 <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-3 text-center">
          <br>
          <p><i>{{mensaje}}</i></p>
          <form action="{% url 'login' %}"method="post" enctype="multipart/form-data"> 
        
            {% csrf_token %}

         <h2>Login</h2> 
         
            {{ miFormulario | crispy }}
            <br>
            <button class="btn btn-primary"  type="submit">Iniciar Sesión</button>
        </form>
        <br>
        <p> Aun no estas registrado ?? </p>
        <a href="{% url 'registro' %}">Crea Tu Usuario </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 
 
{% endblock %}
