{% extends "Base.html" %}

{% load crispy_forms_tags %}

{% block contenidoQueCambia %}

 <!-- ======= End Page Header ======= -->
 <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <br>
          <form action="" method="post" enctype="multipart/form-data"> 
        
            {% csrf_token %}

         <h2>Perfil</h2> 
        
            {{ form | crispy }}

            
            <button class="btn btn-primary"  type="submit">Actualizar</button>
            <a class="btn btn-primary" href="{% url 'usuario' %}">VolveR</a>
        </form>
        </div>
      </div>
    </div>
  </div><!-- End Page Header -->
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
