{% extends "Base.html" %}
{% load static %}
{% load embed_video_tags %}
{% block contenidoQueCambia %}

 <!-- Page content-->
 <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
           
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                 
                    <h1 class="fw-bolder mb-1"> {{ series.titulo }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2"> {{ series.fecha_creacion}} reseña por <a class="list-unstyled" href="{% url 'usuarios_detalle' series.autor_reseña.id  %}">{{ series.autor_reseña}}</a></div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" > Temporadas:{{series.temporadas }}</a>
                    <a class="badge bg-secondary text-decoration-none link-light">{{ series.año}}</a>
                    {% for genero in generos %}
                    <a class="badge bg-secondary text-decoration-none link-light">{{ generos.genero}}</a>
                    {% endfor %}
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ series.imagen.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ series.reseña }}</p>
               
                </section>    
            </article>  
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">                         
            <div class="mb-4">
                <br>
                <br>
                <br>
                <br>
                <div class="card-header"><h4><i>Trailer</i></h4></div>
                <div class="card">{% video series.video_link 'small' %}</div>     
                <br>
                <br> 
                 <!-- Comments section-->
                 <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                            <!-- Comment with nested comments-->
                            {% for comentario in series.comentarios_set.all %}
                            <div class="d-flex mb-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" height="45px" width="45px" src="{{ comentario.autor.perfil.avatar.url }}" alt="..." /></div>
                                <div class="ms-3">
                                    <div style="color: #fd7e14;"class="fw-bold">@{{ comentario.autor }}</div>
                                    {{ comentario.contenido }}  
                                    <div class="text-muted fst-italic mb-2"> {{ comentario.fecha_comentario }} </div>      
                                </div>
                            </div> 
                            {% endfor %}  
                        </div>
                    </div>
                </section>        
            </div>         
        </div>
    </div>
</div>    
                    
{% endblock %} 