{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- ======= End Page Header ======= -->
<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center">
        <br>
        <br>
        <br>
        
          <div class="card">
            <div class="card-header">Buscar Series</div>
            
                
            
        </div>
        </div>
      </div>
    </div>
</div><!-- End Page Header -->

  <section id="gallery" class="gallery">
    <div class="container-fluid">

      <div class="row gy-4 justify-content-center">
        {% for serie in series %}
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="{{serie.cover.url}}" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
             
              <a href="{% url 'series_detalle' serie.slug %}"class="details-link"><i class="bi bi-lightning"></i></a>
            </div>
          </div>
        </div><!-- End Gallery Item -->
        {% endfor %}

      </div>

    </div>
  </section><!-- End Gallery Section -->
  <br>
  <br>
  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>

{% endblock %}
