{% extends "Base.html" %}


{% block contenidoQueCambia %}
<br>
<br>
<br>
<div class="page-header d-flex align-items">
    <div class="container position-relative">
      <div class="row d-flex justify-content">
          <div class="col-lg-4 text">
            <div class="card text-center">
                <div class="card-header"><h4>Mis Peliculas</h4></div>
                <a class="badge bg-primary text-decoration-none link-light" href="{% url 'peliculasFormulario' %}" ><h6>Agregar Nueva Pelicula</h6></a>
            </div>
            <br>
        {% for pelicula in peliculas %}
            <h2><a class="fw-bolder mb-1" href="{% url 'peliculas_detalle' pelicula.slug %}">{{ pelicula.titulo }}</a></h2>
            <div class="text-muted fst-italic mb-2"> {{ pelicula.fecha_creacion}} </div> 
            <!-- Button trigger modal -->
            <button type="button" class="badge bg-secondary text-decoration-none link-light"data-bs-toggle="modal" data-bs-target="#exampleModal{{pelicula.id}}">
                Eliminar
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{pelicula.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Estas Seguro que quieres eliminar "{{pelicula.titulo}}"</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Close</button>
                    <form action="{% url 'EliminarPeliculas' pelicula.id %}" method="post">{% csrf_token %}
                        <button type="submit" class="btn btn-primary">Confirmar </button> 
                    </form>  
                    </div>
                </div>
                </div>
            </div>
            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'EditarPeliculas' pelicula.id %}">Editar </a>        
            <br>
            <br>
        {% endfor %}
        <br>
            <div class="card text-center">
                <div class="card-header"><h4>Mis Series</h4></div> 
                <a class="badge bg-primary text-decoration-none link-light" href="{% url 'seriesFormulario' %}"><h6>Agregar Nueva Serie</h6></a> 
            </div>
            <br>
        {% for serie in series %}
        <h2><a class="fw-bolder mb-1" href="{% url 'series_detalle' serie.slug %}">{{ serie.titulo }}</a></h2>
        <div class="text-muted fst-italic mb-2"> {{ serie.fecha_creacion}}</div> 
        <!-- Button trigger modal -->
        <button type="button" class="badge bg-secondary text-decoration-none link-light"data-bs-toggle="modal" data-bs-target="#exampleModal{{serie.id}}">
            Eliminar
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{serie.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Estas Seguro que quieres eliminar "{{serie.titulo}}"</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary"data-bs-dismiss="modal">Close</button>
                <form action="{% url 'EliminarSeries' serie.id %}" method="post">{% csrf_token %}
                    <button type="submit" class="btn btn-primary">Confirmar </button> 
                </form>  
                </div>
            </div>
            </div>
        </div>
        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'EditarSeries' serie.id %}">Editar </a>        
        <br>
        <br>          
        {% endfor %}
        </div>
      </div>
    </div>
</div>

</section>
<br>
<br>
<br> 
<br>
<br>
<br> 
<br>
<br> 
<br> 
<br> 
<br> 
<br>
<br> 
<br> 
<br> 
<br> 

{% endblock %}