{% extends "Base.html" %}


{% block contenidoQueCambia %}
<br>
<br>
<br>
<div class="page-header d-flex align-items">
    <div class="container position-relative">
      <div class="row d-flex justify-content">
          <div class="col-lg-4 text">
            <div class="card text-center">
                <div class="card-header">Mis Peliculas</div> 
                <a class="badge bg-primary text-decoration-none link-light" href="{% url 'peliculasFormulario' %}" >Agregar Nueva Pelicula</a> 
            </div>
            <br>
        <div class="col-lg-4 text"></div>
        {% for pelicula in peliculas %}
            <h2><a class="fw-bolder mb-1" href="{% url 'peliculas_detalle' pelicula.slug %}">{{ pelicula.titulo }}</a></h2>
            <div class="text-muted fst-italic mb-2">Posted on {{ pelicula.fecha_creacion}} por {{ pelicula.autor_reseña}}</div> 
            <!-- Button trigger modal -->
            <button type="button"  class="badge bg-secondary text-decoration-none link-light" data-bs-toggle="modal" data-bs-target="#exampleModal">                
                Eliminar
              </button> 
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Estas Seguro que quieres eliminar el post?? </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                    <button type="button" class="btn btn-primary">Eliminar</button>
                    </div>
                  </div>
                </div>
              </div>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Editar</a> 
            <br>
            <br>
        {% endfor %}
            <div class="card text-center">
                <div class="card-header">Mis Series</div> 
                <a class="badge bg-primary text-decoration-none link-light" href="{% url 'seriesFormulario' %}">Agregar Nueva Serie</a> 
            </div>
            <br>
        {% for serie in series %}
            <h2><a class="fw-bolder mb-1" href="{% url 'series_detalle' serie.slug %}">{{ serie.titulo }}</a></h2>
            <div class="text-muted fst-italic mb-2">Posted on {{ serie.fecha_creacion}} por {{ serie.autor_reseña}}</div>
                <!-- Button trigger modal -->
                <button type="button"  class="badge bg-secondary text-decoration-none link-light" data-bs-toggle="modal" data-bs-target="#exampleModal">                
                    Eliminar 
                  </button> 
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        <button type="button" class="btn btn-primary">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Editar</a> 
            <br>
            <br>           
        {% endfor %}
        </div>
      </div>
    </div>
</div>

</section>
<br>
<br>
<br> 
<br>
<br>
<br> 
<br>
<br> 
<br> 
<br> 
<br> 


{% endblock %}