{% extends "Base.html" %}

{% load crispy_forms_tags %}

{% block contenidoQueCambia %}

 <div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-3 text-center">
        <p><i><h4>{{mensaje}}</h4></i></p>
          <br>
          <br>
          <form action="{% url 'usuario_actualizar_pass' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

         <h2>Editar User/Pass</h2> 
        <br>
            {{ miFormulario | crispy }}

        <br>    
            <button class="btn btn-primary"  type="submit">Actualizar</button>
            <a class="btn btn-primary" href="{% url 'usuario' %}">VolveR</a>
        </form>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
