{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}
<br>
<br>
<div class="page-header d-flex align-items-center">
<div class="container position-relative">
    <div class="row d-flex justify-content-center">
    <div class="col-lg-6 ">
    <div class=" text-center">
        <p><i><h4>{{mensaje}}</h4></i></p>
        <h2> Mi Perfil </h2>
        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'usuario_perfil' %}">Editar Perfil </a>   
        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'usuario_actualizar_pass' %}">Editar Username/Password </a> 
        <br>
        <br>
        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
    </div>   
        
    </div>
    </div>
</div>
</div><!-- End Page Header -->
      <section id="about" class="about">
        <div class="container">
  
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
            {% if user.perfil.imagen %}
              <img src={{user.perfil.imagen.url}} class="img-fluid" alt="">
              
            {%endif%}
            </div>
            <div class="col-lg-5 content">
              <h2>Bio</h2>
              <p class="fst-italic py-3">
                {{user.perfil.bio}}
              </p>    
              <div class="row">
                <div class="col-lg-12">
                  <ul>{% if user.perfil.fecha_nac %}
                    <li><i class=""></i> <span>{{user.perfil.fecha_nac}}</span></li>
                    {%endif%}
                    {% if user.perfil.fecha_nac %}
                    <li><i class=""></i> <strong>Edad:</strong> <span>{{user.perfil.calcular_años}}</span></li>
                    {%endif%}
                    {% if user.perfil.ciudad %}
                    <li><i class=""></i> <strong>Ciudad:</strong> <span>{{user.perfil.ciudad}}, {{user.perfil.pais}}</span></li>
                    {%endif%}
                  </ul>
                </div>
                <div class="col-lg-12">
                  <ul>
                    {% if user.perfil.web %}
                    <li><i class=""></i> <strong>Web:</strong> <span><a class="" href={{user.perfil.web}} target="_blank">{{user.perfil.web}}</a></span></li>
                    {%endif%}
                    {% if user.email %}
                    <li><i class=""></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
                    {%endif%}
                    {% if user.perfil.redes %}
                    <a></a><li><i class=""></i> <strong>Redes:</strong> <a class="" href={{user.perfil.redes}} target="_blank">{{user.perfil.redes}}</a></span></li>
                    {%endif%}
                  </ul>
                </div>
              </div>
            </div>
          </div>          
        </div>      
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}

