{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}
<br>
<br>
<div class="page-header d-flex align-items-center">
<div class="container position-relative">
    <div class="row d-flex justify-content-center">
    <div class="col-lg-6 ">
    {% for user in user %}
    <div class=" text-center">
        {% if request.user.perfil.avatar %}
         <img class="rounded-circle"  height="100px" width="100px" src={{user.perfil.avatar.url}}>
         {%endif%}
         <h2>@{{user.username}}</h2>
        <li class="list-unstyled dropdown-center">
            <button class="btn btn-dark dropdown" data-bs-toggle="dropdown" aria-expanded="">
            <h6>Reseñas</h6>
            </button>
                <ul class="dropdown-menu dropdown-menu-dark">                                    
                    <ul class=" list-unstyled text-center mb-1">
                        <li><a class="cta-btn" href="{% url 'usuario_lista_reseñas_series' user.id  %}"><h7>Series</h7></a></li> 
                        <li><a class="cta-btn" href="{% url 'usuario_lista_reseñas_peliculas' user.id  %}"><h7>Peliculas</h7></a></li> 
                    </ul>
                </ul>
           </li>
        <br>
        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
    </div>   
    </div>
    </div>
</div>
</div>
  <br>
  <section id="about" class="about">
    <div class="container">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-4">
        {% if user.perfil.imagen %}
          <img src={{user.perfil.imagen.url}} width="400" height="480"   class="" alt="">
          {% else %}
          <img src="{% static 'AppCoder/IMG/no-avatar.jpg' %}" width="400" height="" class="" alt="">   
        {%endif%}
        </div>
        <div class="col-lg-5 content">
          <h2>Bio</h2>
          <p class="fst-italic py-3">
            {{user.perfil.bio}}
          </p>    
          <div class="row">
            <div class="col-lg-12">
              <ul>{% if user.perfil.fecha_nac %}
                <li><i class=""></i>  <span>{{user.perfil.fecha_nac}}</span></li>
                {%endif%}
                {% if user.perfil.fecha_nac %}
                <li><i class=""></i> <strong>Edad:</strong> <span>{{user.perfil.calcular_años}}</span></li>
                {%endif%}
                {% if user.perfil.ciudad %}
                <li><i class=""></i> <strong>Ciudad:</strong> <span>{{user.perfil.ciudad}}, {{user.perfil.pais}}</span></li>
                {%endif%}
              </ul>
            </div>
            <div class="col-lg-12">
              <ul>
                {% if user.perfil.web %}
                <li><i class=""></i> <strong>Web:</strong> <span><a class="" href={{user.perfil.web}} target="_blank">{{user.perfil.web}}</a></span></li>
                {%endif%}
                {% if user.email %}
                <li><i class=""></i> <strong>Email:</strong> <span>{{user.email}}</span></li>
                {%endif%}
                {% if user.perfil.redes %}
                <a></a><li><i class=""></i> <strong>Redes:</strong> <a class="" href={{user.perfil.redes}} target="_blank">{{user.perfil.redes}}</a></span></li>
                {%endif%}
              </ul>
            </div>
          </div>
        </div>
      </div>
      
    </div>   
        
        {% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



{% endblock %}
