{% extends "Base.html" %}

{% load static %}

{% block contenidoQueCambia %}
<br>
<br>
<div class="page-header d-flex align-items-center">
<div class="container position-relative">
    <div class="row d-flex justify-content-center">
    <div class="col-lg-6 ">
    {% for user in user %}
    <div class=" text-center">
        <h2> @{{user.username}}</h2>
        <a class="cta-btn" href="{% url 'usuario_lista_reseñas_series' user.id  %}"><h5>Series</h5></a>
        <a class="cta-btn" href="{% url 'usuario_lista_reseñas_peliculas' user.id  %}"><h5>Peliculas</h5></a>
        <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
    </div>   
        <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 May 1995</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>New York, USA</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>email@example.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Redes:</strong> <span>email@example.com</span></li>
              </ul>
            </div>
          </div>
    </div>
    </div>
</div>
</div><!-- End Page Header -->
  <br>
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
  
          <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
            {% if user.perfil.imagen %}
              <img src={{user.perfil.imagen.url}}  class="img-fluid" alt="">
            {%endif%}  
            </div>
            <div class="col-lg-5 content">
              <h2>Bio</h2>
              <p class="fst-italic py-3">
                {{user.perfil.bio}}
              </p>
             
            </div>
          </div>
        </div>
        
        {% endfor %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}
