{% extends "Base.html" %}


{% block contenidoQueCambia %}




<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-4 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Sus reseñas de películas
        <hr class="d-none d-md-block  col-xl-12 ">
        </div>
      </div>
    </div>
</div>   
<section id="gallery" class="gallery">
    <div class="container-fluid">
        <div class="row gy-4 justify-content-center">
        {% for pelicula in peliculas %} 
        <div class="col-xl-2 col-lg-4 col-md-6">
          <div class="gallery-item h-100">
            <img src="{{pelicula.cover.url}}" class="img-fluid" alt="">
            <div class="gallery-links d-flex align-items-center justify-content-center">
              <a href="{% url 'peliculas_detalle' pelicula.slug %}" class="details-link"><i class="bi bi-lightning"></i></a>
            </div>
          </div>
        </div>
                      
        {% endfor %}
        <nav class="blog-pagination text-center" aria-label="Pagination">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary rounded-pill"
                   href="?page={{ page_obj.previous_page_number }}">Antes</a>
            {% else %}
                <a class="btn btn-outline-secondary rounded-pill disabled">Antes</a>
            {% endif %}
            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary rounded-pill"
                   href="?page={{ page_obj.next_page_number }}">Siguiente</a>
            {% else %}
                <a class="btn btn-outline-secondary rounded-pill disabled">Siguiente</a>
            {% endif %}
        </nav>
        </div>
        <br>
        <div class="nav-link text-center">
              <a class="btn btn-primary" href="{% url 'inicio' %}">VolveR</a>
        </div>
    </div>
</section>
<br>
<br>
<br> 
<br>
<br>
<br> 
<br>
<br> 
<br>




{% endblock %}
